*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.red-text {
  color: #f90206;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption,
.caption-shadow {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #f90206;
}

.navbar {
  z-index: 1;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  padding: 1.2em 0;
  width: 100%;
  text-transform: uppercase;
}

.navbar .container {
  padding: 0;
}

.navbar .logo {
  font-weight: bold;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar .navbar-brand:hover {
  color: #c21313;
}

.navbar .fa-camera {
  color: #c21313;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover {
  color: #f90206;
}

.navbar .fa-bars {
  padding: 0.6em;
  color: #fff;
}

.navbar .active {
  color: #f90206;
}

.header {
  color: #fff;
}

.header .title {
  font-size: 3em;
}

.header .info {
  font-size: 1.4em;
}

.header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/head-small.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -5;
}

.header .hero-text {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  z-index: 5;
}

.header .btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #fff;
  color: #fff;
  padding: 0;
  overflow: hidden;
  font-size: 1em;
}

.header .btn .motocycle {
  width: 182px;
  height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .btn .motocycle p {
  line-height: 50px;
  margin: 0;
}

.header .btn .motocycle:hover {
  background-color: #fff;
  color: #473333;
  font-weight: bold;
}

.header .fa-chevron-down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2rem;
  font-size: 2.5em;
  color: #f90206;
}

.about .wrapper {
  padding: 2em 10px;
}

.about .wrapper .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .wrapper .columns .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1em 1em;
  height: 150px;
  width: 300px;
  border: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.about .wrapper .columns .card .about__title {
  font-size: 2.4em;
}

.about .wrapper .columns .card .about__text {
  font-size: 1em;
}

.about .wrapper .columns .card:hover {
  color: #f90206;
}

.about-hero {
  position: relative;
}

.about-hero .about-hero-img {
  position: relative;
  padding: 70px;
  background-image: url("../img/aboutHeroSmall.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.about-hero .about-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -5;
}

.about-hero .wrapper {
  margin: 2em auto;
}

.about-hero .wrapper .caption-shadow {
  color: #c0baba;
}

.about-hero .wrapper .columns-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-hero .wrapper .columns-shadow .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1em 1em;
  height: 200px;
  width: 300px;
  border: none;
  background-color: transparent;
}

.about-hero .wrapper .columns-shadow .card .about__title {
  font-size: 2.4em;
  color: #c0baba;
}

.about-hero .wrapper .columns-shadow .card .about__text {
  font-size: 1em;
  color: #c0baba;
}

.portfolio .wrapper {
  margin: 2em 10px;
  padding-bottom: 6em;
}

.portfolio .wrapper .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .wrapper .slide .card {
  position: relative;
  height: 500px;
  width: 375px;
  margin: 10px;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #c0baba;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.portfolio .wrapper .slide .one {
  background-image: url("../img/portfolio/concert-640a.jpg");
}

.portfolio .wrapper .slide .one::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.portfolio .wrapper .slide .two {
  background-image: url("../img/portfolio/portfolio-alt1.jpg");
}

.portfolio .wrapper .slide .two::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.portfolio .wrapper .slide .three {
  background-image: url("../img/portfolio/quarterback-73614_640.png");
}

.portfolio .wrapper .slide .three::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.portfolio .wrapper .slide .portfolio-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  font-size: 4em;
}

.portfolio .wrapper .slide .btn-portfolio {
  position: absolute;
  width: 200px;
  height: 60px;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  border: 3px solid #c0baba;
  border-radius: 8px;
  text-decoration: none;
  color: #c0baba;
  font-size: 1.7em;
  line-height: 50px;
}

.portfolio .wrapper .slide h1 {
  position: absolute;
}

.contact .contact-img {
  position: relative;
  padding: 1em;
  background-image: url("../img/portfolio/weel.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.contact .contact-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -5;
}

.contact .caption {
  color: #c0baba;
  z-index: 1;
}

.contact .underline {
  background-color: #c0baba;
}

.contact .wrapper-contact {
  position: relative;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .wrapper-contact .card-contact {
  position: relative;
  font-size: 1.6em;
  width: 400px;
  height: 350px;
  color: #c0baba;
  text-align: center;
}

.contact .wrapper-contact .card-contact .contact-icon {
  margin-top: 10px;
}

.contact .wrapper-contact .first-card {
  line-height: 60px;
}

.contact .wrapper-contact .first-card .contact-icon {
  font-size: 1.6em;
}

.contact .wrapper-contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.5em;
}

.contact .wrapper-contact .formula {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .wrapper-contact .contact__form-input {
  width: 90%;
  background-color: #444;
  color: #c0baba;
  border-radius: 5px;
  border: none;
}

.contact .wrapper-contact .contact__form-textarea {
  height: 100%;
  width: 90%;
  background-color: #444;
  color: #c0baba;
  border-radius: 5px;
  border: none;
}

.contact .wrapper-contact .contact__form-btn {
  margin: 1em;
  margin-bottom: 0;
  padding: 5px 10px;
  font-size: 1.5em;
  border-radius: 5px;
  color: #c0baba;
  background-color: transparent;
}

.footer {
  padding: 2em 1em;
  border-top: 1px solid #444;
  text-align: center;
  background-color: #222;
}

.footer .footer__botom-text {
  margin: 0;
  color: #c0baba;
}

@media (min-width: 357px) {
  .portfolio .wrapper {
    margin: 2em;
    padding-bottom: 6em;
  }
}
/*# sourceMappingURL=style.css.map */