$finish-color: #f90206;
$finish-contact: #f02b2fcb;
$white-color: #fff;
$smoke-white: #c0baba;
$finish-dark: #f90206d2;
$dark-color: rgba(34, 14, 14, 0.863);
$darker-color: #444;
$facebook-color: #3b5998;
$instagram-color: #d6249f;
// 	circle at 30% 107%,
// 	#fdf497 0%,
// 	#fdf497 5%,
// 	#fd5949 45%,
// 	#d6249f 60%,
// 	#285aeb 90%
// );
