@media (min-width: 768px) {
	.header {
		.hero-img {
			background-image: url('../img/head-big.jpg');
		}
	}

	ABOUT .about {
		.wrapper {
			.columns {
				.card {
					margin: 0 0.5em;
					height: 150px;
					width: 200px;

					.about__title {
						font-size: 2.5em;
					}

					.about__text {
						font-size: 1em;
					}
				}
			}
		}
	}

	.about-hero {
		.fa-chevron-down {
			@include chevron;
		}
		position: relative;

		.about-hero-img {
			background-image: url('../img/aboutHeroBIG.jpg');
		}
	}
	// CONTACT 
	.contact {
		.contact-img {
			background-image: url('../img/weel-big.jpg');
		}
	}
}
