@media (min-width: 375px) {
	.header {
        .title{
            font-size: 2em;
        }
        .info {
            font-size: .8em;
        }
        .btn {
			padding: 0;
			.motocycle {
				width: 150px;
				height: 50px;

				p {
					line-height: 50px;
				}
			}
		}
	}

	// ABOUT
	.about {
		.wrapper {


			.columns {
				.card {
					margin: 0 .5em;
					height: 150px;
					width: 200px;

					.about__title {
						font-size: 2.4em;
					}

					.about__text {
						font-size: 1em;
					}
				}
			}
		}
	}
}