@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 76px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $white-color;
}

// CLASA FOR ALL

.red-text {
	color: $finish-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.caption,
.caption-shadow {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $finish-color;
}

//NAV

.navbar {
	z-index: 1;
	transition: background-color 0.6s;
	padding: 1.2em 0;
	.logo {
		font-weight: bold;
	}
	width: 100%; // OR put 100% - w-100 in bootstrap class html
	text-transform: uppercase;
	.navbar-brand {
		text-transform: uppercase;
		color: $white-color;
		transition: color 0.3s; // it will be not important enyway because I wont put logo inside. Just fun.
	}
	.navbar-brand:hover {
		color: rgb(194, 19, 19);
	}

	.fa-camera {
		color: rgb(194, 19, 19);
	}
	.nav-link {
		color: $white-color;
	}

	.nav-link:hover {
		color: $finish-color;
	}

	.fa-bars {
		padding: 0.6em;
		color: $white-color;
	}

	.active {
		color: $finish-color;
	}
}

// HEADER

.header {
	color: $white-color;
	.title {
		font-size: 3em;
	}

	.info {
		font-size: 1.4em;
	}

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/head-small.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -5;
	}
	.hero-text {
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		text-align: center;
		z-index: 5;
	}
	.btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		border: 1px solid $white-color;
		color: $white-color;
		padding: 0;
		overflow: hidden;
		font-size: 1em;

		.motocycle {
			width: 182px;
			height: 50px;
			transition: 0.5s;

			p {
				line-height: 50px;
				margin: 0;
			}
		}
		.motocycle:hover {
			background-color: $white-color;
			color: rgb(71, 51, 51);
			font-weight: bold;
		}
	}
	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 2rem;
		font-size: 2.5em;
		color: $finish-color;
	}
}

// ABOUT

.about {
	.wrapper {
		padding: 2em 6em;

		.columns {
			display: flex;
			justify-content: space-around;
			align-items: center;
			text-align: center;
			flex-wrap: wrap;

			.card {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				margin: 1em 1em;
				height: 150px;
				width: 300px;
				border: none;
				transition: color 0.2s;

				.about__title {
					font-size: 2.4em;
				}

				.about__text {
					font-size: 1em;
				}
			}
			.card:hover {
				color: $finish-color;
			}
		}
	}
}

.about-hero {
	position: relative;
	padding: 1em;
	background-image: url('../img/aboutHeroSmall.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	.about-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}
	.wrapper {
		margin: 2em 16em;
		.caption-shadow {
			color: $smoke-white;
		}
		.columns-shadow {
			display: flex;
			justify-content: space-around;
			align-items: center;
			text-align: center;
			flex-wrap: wrap;

			.card {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				margin: 1em 1em;
				height: 150px;
				width: 300px;
				border: none;
				background-color: transparent;

				.about__title {
					font-size: 2.4em;
					color: $smoke-white;
				}

				.about__text {
					font-size: 1em;
					color: $smoke-white;
				}
			}
		}
	}
}

// PROTFOLIO

.portfolio {
	.wrapper {
		margin: 2em 14em;

		.slide {
			position: relative;
			height: 100vh;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

			.portfolio__shadow {
				position: absolute;
				top: 60%;
				width: 100%;
				height: 10%;
				background-color: rgba(0, 0, 0, 0.6);
			}

			.portfolio__card {
				width: 600px;
				&__card-body {
					position: relative;
					&__card-title {
						position: absolute;

					}
				}
			}
		}
	}
}

// IMPOR @ MEDIA

@media (min-width: 992px) {
	nav {
		scroll-padding-top: 82px;
	}
}
// @import './Xsmall';
// @import './small';
// @import './medium';
// @import './large';
